@import "../../../../styles/variables.scss";

.message-box {
  background: $dark-gray;

  &__info {
    font-size: 12px !important;
  }

  &__date {
    color: $light-gray;
  }

  img {
    width: 36px;
    height: 36px;
  }
}
