* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: rgb(9, 34, 60);
}

::-webkit-scrollbar {
  width: 6px;
  background: #dad7d7;
}
::-webkit-scrollbar-thumb {
  background: rgba(173, 213, 173, 0.712);
}

a {
  text-decoration: none;
  background: rgba(53, 139, 106, 0.642);
  padding: 2px;
  border-radius: 3px;
  font-weight: 600;
  color: white;
  margin-left: 1px;
  margin-right: 1px;
}

*::selection {
  background-color: rgba(69, 101, 135, 0.523);
  color: white;
}
body {
  background: rgba(226, 226, 226, 0.494);
  overflow-y: hidden;
}
